.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    .contain-div {
        width: 60%;
        padding: 5%;
    }

    img {
        background-color: rgb(250, 247, 242);
        width: 50%;
        max-width: 400px;
        height: 65vh;
    }

    button {
        color: black;
        border: 1px solid rgb(0, 0, 0);
        padding: 1% 6% 1% 6%;
        margin-bottom: 0;
        border-radius: 0;
        background-color: transparent;
        background-repeat: no-repeat;
        cursor: pointer;
        overflow: hidden;
        outline: none;
    }

    .btns1:hover {
        background-color: orange;
        transition-delay: 35ms;
    }
    .btns1:active{
        background-color: orange;
        transition-delay: 35ms;
    }

    .btns {
        background-color: rgb(0, 0, 0);
        color: white;
    }
    .btns:active{
        background-color: orange;
        transition-delay: 35ms;
    }

    .btns:hover {
        background-color: orange;
        color: black;
        transition-delay: 35ms;
    }

    .hamza {
        color: orange;
    }

    h1 {
        padding-bottom: 10%;
        width: 70%;
        font-weight: 600;
        text-transform: uppercase;

    }
}

@media only screen and (max-width:768px) {
    .container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    img {
        background-color: rgb(250, 247, 242);
        width: 40%;
        height: auto;
    }
   
}
.hash{
    position: fixed;
    border: solid black;
    border-width: 1px 3px 3px 1px;
    display: inline-block;
    padding: 5px 15px 5px 15px;
    right: 100px;
    color: orange;
   }

