body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 3% 2% 3% 2%;
    background-image: url('./assets/back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}