body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 5% 3% 5% 3%;
    background-image: url('./assets/back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}